body {
  background: #fff
}
.App {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  border:1px solid #eee;
}
.navbar {
  padding: 10px 20px;
  background: #ccc;
  border:1px solid #eee;
}
.navbar ul {
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}
.tasklist {
  padding: 0 30px;
  margin-bottom: 20px;
}
.tasklist ol {
  padding: 0;
  text-align: left;
}
.tasklist li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  cursor:pointer;
  border-bottom:1px solid #eee;
}
.tasklist li:hover {
  opacity:0.8;
  text-decoration: line-through;
}
.tasklist .title {
  font-size:1.2em;
  font-weight: bold;
}
.tasklist .user {
  font-size:0.9em;
}
.empty {
  margin:20px;
  padding:20px;
  text-align: center;
  background:#fff;
}
.taskForm {
  padding: 20px;
}
.taskForm label {
  float: left;
  font-weight:bold;
}
.taskForm input[type='text']{
 width:100%;
 padding:10px;
 box-sizing: border-box;
 margin:6px 0;
}
.taskForm .submitBtn {
  padding:12px 20px;
  margin:10px auto;
  display:block;
  background: blue;
  color:#fff;
  border:0;
  border-radius: 4px;
  cursor:pointer;
}
.btnToggleForm {
  padding:12px 20px;
  width:100%;
  display:block;
  background: blue;
  color:#fff;
  border:0;
  margin-top: -10px;
  cursor:pointer;
}

